<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  
  <body>
    <div id="app">
        <h1>Test Works {{test}}</h1>
    </div>
  </body>
</html>
<script>


    console.log('made it here!, ');

    var app = new Vue({
        el: '#app',
        data: {
            test: 'Hello Vue!'
        }
    })
  </script>